# macOS
.DS_Store

# Xcode
*.xcodeproj
*.xcworkspace

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Generation
Generated

# Config files
Config

# iOS Pods
Pods
